CONFIG_DEVTMPFS=y
CONFIG_FHANDLE=y
CONFIG_SYSVIPC=y
CONFIG_IPC_NS=y
CONFIG_NET_NS=y
CONFIG_PID_NS=y
CONFIG_USER_NS=y
CONFIG_UTS_NS=y
CONFIG_VT=y
# CONFIG_BACKLIGHT_QCOM_SPMI_WLED is not set
CONFIG_DRM_SDE_SPECIFIC_PANEL=y
CONFIG_HALL_SENSOR_NOT_USE_SWITCH=y
CONFIG_MACH_SONY_GRIFFIN=y
CONFIG_DEFAULT_SECURITY="apparmor"
CONFIG_SW_SYNC_USER=y
CONFIG_NET_CLS_CGROUP=y
CONFIG_CGROUP_NET_CLASSID=y
CONFIG_VETH=y
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=y
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder,anbox-binder,anbox-hwbinder,anbox-vndbinder"
